<%= form_for [@trip, @attachment] , :html => { :class => "form-horizontal attachment"} do |f| %>
  <% if @attachment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attachment.errors.count, "error") %> prohibited this attachment from being saved:</h2>

      <ul>
      <% @attachment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :names %><br>
    <%= f.text_field :names %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.select :category, Attachment::CATEGORIES %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :trip_id %><br>
    <%= Trip.find(@attachment.trip).name %>
  </div>
  <div class="field">
    <%= f.label :album_id %><br>
    <% unless @attachment.album.blank? then %>
      <%= Album.find(@attachment.album).name %>
    <% else %>None
    <% end %><br>
  </div>
  <div class="field">
    <%= f.label :created_by_id %><br>
    <%= User.find(@attachment.created_by_id).name %><br>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
