<div class="shift_right">
<div class="page-header">
  <h1>Attachments</h1>
  <p><strong>Trip:</strong> <%= @trip.name %></p> 
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Album</th>
      <th>Created by</th>
      <th>Preview</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @attachments.each do |attachment| %>
      <tr>
        <td><%= attachment.names %></td>
        <td><%= attachment.category %></td>
        <td>
          <% unless attachment.album.blank? then %>
            <%= Album.find(attachment.album).name %>
          <% end %>
        </td>
        <td><%= attachment.created_by.name %></td>
        <td>
          <% if attachment.category == "Image" %>
            <a href="<%= attachment.url %>"><img src="<%= attachment.url %>" alt="<%= attachment.names %>" class="thumbnail"></a>
          <% elsif attachment.category == "Link" %>
            <a href="<%= attachment.url %>">Follow Link</a>
          <% end %>
        </td>
        <td><%= link_to 'Show', trip_attachment_path(@trip, attachment) %></td>
        <td><%= link_to 'Edit', edit_trip_attachment_path(@trip, attachment) %></td>
        <td><%= link_to 'Destroy', trip_attachment_path(@trip, attachment), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Attachment', new_trip_attachment_path(@trip) %>
</div>