<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @attachment.names %>
</p>

<p>
  <strong>Category:</strong>
  <%= @attachment.category %>
</p>

<p>
  <strong>Url:</strong>
  <a href="<%= @attachment.url %>">
    <%= @attachment.url %>
  </a>
</p>

<p>
  <strong>Trip:</strong>
  <%= Trip.find(@attachment.trip).name %>
</p>

<p>
  <strong>Album:</strong>
  <% unless @attachment.album.blank? then %>
    <%= Album.find(@attachment.album).name %>
  <% else %>None
  <% end %><br>
</p>

<p>
  <strong>Created by:</strong>
  <%= User.find(@attachment.created_by).name %>
</p>

<% if @attachment.category == "Link" %>
  <a href="<%= @attachment.url %>"><h2>Click here to follow link</h2></a><br>
<% end %>

<%= link_to 'Edit', edit_trip_attachment_path %> |
<%= link_to 'Back', trip_attachments_path %><br>

<% if @attachment.category == "Image" %>
  <a href="<%= @attachment.url %>"><img src="<%= @attachment.url %>" alt="<%= @attachment.names %>"></a>
<% end %>
