<%= form_for(@attachment_rating) do |f| %>
  <% if @attachment_rating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attachment_rating.errors.count, "error") %> prohibited this attachment_rating from being saved:</h2>

      <ul>
      <% @attachment_rating.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :score %><br>
    <%= f.number_field :score %>
  </div>
  <div class="field">
    <%= f.label :attachment_id %><br>
    <%= f.text_field :attachment_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
