<div class="shift_right">
<div class="page-header">
  <h1>Albums</h1>
  <p><strong>Trip:</strong> <%= @trip.name %></p> 
</div>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Created by</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @albums.each do |album| %>
      <tr>
        <td><%= album.name %> </td>
        <td><%= User.find(album.created_by_id).name %> </td>
        <td><%= link_to 'Show', trip_album_path(@trip, album) %> </td>
        <td><%= link_to 'Edit', edit_trip_album_path(@trip, album) %> </td>
        <td><%= link_to 'Destroy', trip_album_path(@trip, album), method: :delete, data: { confirm: 'Are you sure?' } %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Album', new_trip_album_path(@trip) %>
</div>
